.wrapper {
    z-index: 1;
}

.wrapperInner {
    max-width: 600px;
    width: 85%;
    margin:0 auto;
}

.header {
    margin: .2em .5em 1.5em .5em;
    text-align: center;
}

.breadcrumb {
    text-align: center;
}

.list {
    margin: 0;
}

.categorylist {
    text-align:center;
    margin: 0 0 2em 0;
    a {
    display: inline-block;
    margin-right: .5em;
    margin-bottom: .5em;
    font-size: .85em;
    color: black;
    text-decoration: none;
    padding: .5em 1.5em;
    background-color: #eeeeee;
    border-radius: 3px;
    }
    a:hover {
        text-decoration: underline;
    }
    .activecategory {
        background: #cccccc;
     }
}

.posts {
    list-style-type: none;
    margin: 0;
}

.pagination {
    margin: 0;
    display: flex;
    justify-content: center;
    position: relative;
    top:-1px;
    li {
        list-style-type: none; 
        margin:0;
    }
    a, span {
        padding: 1em 1.5em;
        display:block;
    }
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    span {
        border-top: 1px solid black;
    }
}

.post {
    margin: 0;
    text-align: center;
    /*box-shadow: 1px 1px 10px rgba($color: #000000, $alpha: .2);*/
    border-bottom: 1px solid #cccccc;
    list-style-type: none;
    a {
        /*background: #f4f4f4;*/
        color: #252525;
        display: block;
        text-decoration: none;
        padding-top: 1em;
    }

    a:hover h2 {
        text-decoration: underline;
    }

    h2 {
        margin-bottom: 5px;
        line-height: 1.3em;
        text-transform: unset;
        letter-spacing: unset;
        font-size: 1.3em;
    }

    p {
        color: #888888;
        font-size: .7rem;
        font-style: italic;
        margin: 0;
    }

    p a {
        display: inline-block;
        font-style: italic;
        color: unset;
        padding-top: unset;
    }

    p a:hover  {
        text-decoration: underline;
    }

    img {
        margin: 0;
    }

    div {
        padding: 0 1em 1em 1em;
    }

    .featuredImage {
        box-shadow: 1px 1px 10px rgba($color: #000000, $alpha: .2);
        margin-bottom: 1em;
        padding-top:2em;
    }

}

.post:nth-of-type(1) {
    a {
        padding-top: 0;
    }
}

@media only screen and (min-width: 550px) {

    
    .breadcrumb {
        text-align: left;
    }  



    .post {
        text-align: unset;

        div {
            padding: 0 0em 1em 0em;
        }
    }

    


}

@media only screen and (min-width: 1000px) {
    .wrapper {
        margin-left: 320px;
    }
}