.wrapper {
    z-index: 1;
}

.wrapperInner {
    max-width: 600px;
    width: 85%;
    margin:0 auto;
}

.header {
    margin: .5em .5em 1.5em .5em;
    text-align: center;
}

.header::after {
    content: ". . .";
    letter-spacing: 0.3em;
    display: block;
    font-size: .8em;
    opacity: .2;
    font-family: "lato";
    margin-top: 10px;
}

.breadcrumb {
    text-align: center;
}



.list {
    margin: 0;
}

.categorylist {
    text-align:center;
    margin: 0 0 2em 0;
    a {
    display: inline-block;
    margin-right: .5em;
    margin-bottom: .5em;
    font-size: .85em;
    color: white;
    text-decoration: none;
    padding: .5em 1.5em;
    background-color: #0E6BA8;
    border-radius: 3px;
    font-weight: 600;
    transition: all .2s ease;
    }
    a:hover {
        background: #E8AEB7;
        color: #0E6BA8;
    }
    .activecategory {
        background: rgb(16, 55, 80);
     }
}

.posts {
    list-style-type: none;
    margin: 0;
}

.pagination {
    margin: 0;
    display: flex;
    justify-content: center;
    position: relative;
    top:-1px;
    li {
        list-style-type: none; 
        margin:0;
    }
    a, span {
        padding: 1em 1.5em;
        display:block;
    }
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    span {
        border-top: 1px solid black;
    }
}

.post {
    margin: 0;
    /*box-shadow: 1px 1px 10px rgba($color: #000000, $alpha: .2);*/
    border-bottom: 1px solid #cccccc;
    list-style-type: none;
    a {
        color: #0E6BA8;
        display: block;
        text-decoration: none;
        padding-top: 0;
    }

    a:hover h2 {
        color: #D7707F;
    }

    h2 {
        margin-bottom: 5px;
        line-height: 1.2em;
        font-size: 1.25em;
        transition: all 0.2s ease;
        color: #0E6BA8;
        font-family:"Roboto", sans-serif;
    }

    p {
        color: #888888;
        font-size: .7rem;
        margin: 0;
        line-height: 1.4em;
    }

    p a {
        display: inline-block;
        color: unset;
        padding-top: unset;
    }

    p a:hover  {
        text-decoration: underline;
    }

    img {
        margin: 0;
    }

    div {
        padding: 1em 0em 1em 0em;
    }

    .featuredImage {
        box-shadow: 1px 1px 10px rgba($color: #000000, $alpha: .2);
        margin-bottom: 1em;
        padding-top:2em;
    }

}

.post:nth-of-type(1) {
    a {
        padding-top: 0;
    }
}

@media only screen and (min-width: 550px) {

    
    .breadcrumb {
        text-align: left;
    }  



    


}

@media only screen and (min-width: 1000px) {
    .wrapper {
        margin-left: 320px;
    }
}