.breadcrumb {
    margin: 3em .5em 0 .5em;
    text-align: center;
}

.breadcrumb ul {
    display: inline-block;
    padding: 0;
    list-style: none;
    text-align: left;
    margin:0;
  }
  
  .breadcrumb ul li {
    display: inline;
    font-size: .9em;
    color: #a3a3a3;
  }
  
  .breadcrumb ul li+li:before {
    padding: 8px;
    content: ">\00a0";
  }
  
  .breadcrumb ul li a {
    text-decoration: none;
    font-weight: bold;
    color:#545454;
  }
  
  .breadcrumb ul li a:hover {
    color: #01447e;
    text-decoration: underline;
  }