.header {
    background: #0E6BA8;
    box-shadow: 0px 1px 10px rgba($color: #000000, $alpha: .1);
    display: flex;
    padding: 1.5em 1em 1.5em 1em;
    justify-content: space-between;
    align-content: center;   
    box-shadow: 0px -2px 12px 1px;
}

.title {
    color: white;
    text-decoration: none;
    font-weight: 700;
    padding-left: 50px;
    font-family: 'Roboto Slab';
    text-transform: uppercase;
}

.title:hover .logoSvg {
    transform: rotate(-15deg) scale(1.05);
}

.logowrapper {
    width: 48px;
    height: 48px;
    background: white;
    display: block;
    position: absolute;
    top: .95em;
    left: 1em;
    border-radius: 50%;
    padding: 5px;
}

.logo {
    display: flex;
    border-bottom: 5px solid #103750;
    margin-left: 10px;
}

.logofirst {
    font-weight: 100;
    color: white;
}

.logosecond {
    font-weight: 900;
    color: #E8AEB7;
    margin-left: 5px;
}

nav {
    height: 20px;
    margin: 0;
    padding: 3px 0 0 0;
    display: inline-block;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    height: 100vh;
    width: 100%;
    padding: 0;
    display: none;
    place-content: center;
    z-index: 2;
    font-weight: bold;
    text-align: center;
}

.menuBtn {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-top: .1em;
}

.nav-item {
    color: #000000;
    text-decoration: none;
    font-size: 2em;
    line-height: 1.6em;
    transition: all .2s ease;
    
}

.nav-item:hover {
    color: #E8AEB7;
}

.active-nav-item {
    color: #0E6BA8;
}

.logoSvg {
    fill: #0A2239;
    transition: all .1s ease;
    width: 100%;
    height: auto;
}


  @media only screen and (min-width: 570px) {
    .menuBtn {
        display: none;
    }
  
    nav {
        height: unset;
        margin: 0;
        padding: 0;
        display: flex!important;
        align-items: center;
    }
    
    .nav-list {
        list-style-type: none;
        margin: 0;
        position: unset;
        top: unset;
        left: unset;
        background: unset;
        height: unset;
        width: unset;
        padding: 0;
        display: flex;
        place-content: unset;
        z-index: unset;
        font-weight: normal;
        font-size: .95em;
    }

    .nav-list svg {
        display: none;
    }

    .nav-list li {
        margin-bottom: 0;
    }

    .nav-item {
        padding: 3px .5em 0 .5em;
        color: white;
        font-size: unset;
        line-height: 1.6em;
        font-weight: bold;
    }

    .active-nav-item {
        color: #103750
    }

    .nav-list li:last-of-type .nav-item {
        padding-right: 0;
    }

  }

  @media only screen and (min-width: 1000px) {
    .header {
        flex-direction: column;
        padding: .5em 2em .4em 2em;
        height: 100vh;
        position: fixed;
        justify-content: flex-start;
        width: 220px;
        overflow: hidden;
        box-shadow: -8px 3px 17px 5px;

  }

    .header:before {
        content: "";
        position: absolute;
        width: 200%;
        height: 200%;
        bottom: -140%;
        left: -130%;
        z-index: -1;
        background: url("../images/education.svg") 0 0 no-repeat;
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        transform: rotate(10deg);
        opacity: .06;
        color: white;
    }

    nav {
        display: block!important;
        align-items: unset;
    }

    .nav-list {
        list-style-type: none;
        font-weight: bold;
        display: block;
    }

    .nav-item {
        padding: .3em 0;
        display: block;
    }



    .title {
        margin-top: 1.9em;
        padding-left: 0;
        font-size: 1.2em;
        margin-bottom: 1em;
        color: #0d6ba8;
        text-align: center;
    }

    .title:hover .logoSvg {
        transform: rotate(-15deg) scale(1.05);
    }

    .logo {
        line-height: 1.1em;
        display: unset;
        border:none;
        margin-left: 0;
    }

    .logowrapper {
        width: 60px;
        height: 60px;
        position: unset;
        top: unset;
        left: unset;
        margin: 0 auto 8px auto;
        padding: 5px;
    }

    .logofirst {
        font-weight: 100;
        color: white;
    }

    .logosecond {
        font-size: 1.23em;
        font-weight: 900;
        color: #E8AEB7;
        padding-bottom: 3px;
        border-bottom: 5px solid #103750;
        border-left: none;
        margin-left: 0;
    padding-left: 0;
    }
    

    .active-nav-item {
        color: #103750
    }
    .logoSvg {
        padding: 3px;
    }
  }

  @media only screen and (min-width: 1100px) {
    .header {
        width: 320px;
    }
    .nav-item {
        font-size: 1.2em;
    }
    .header:before {
        left: -90%;
    }
  }