.hero {
   /* background: url("../images/thought-catalog-505eectW54k-unsplash.jpg") no-repeat center;
    background-size: cover;*/
    padding: 4em 0;
    position:relative;
    margin-bottom: 4em;
    max-width: 600px;
    width: 85%;
    margin: 0 auto;
}

.hero h1 {
    font-weight: bold;
    font-size: 2em;
    line-height: 1.2em;
    padding: 0;
    
    
    color: rgb(19, 19, 19);
    z-index: 1;
    position: relative;
}

.hero h1 span {
    position: relative;
}

.hero h1 span:after {
    content: "";
    background: #ABD2FA;
    display: inline-block;
    width: 85%;
    height: 9px;
    position: absolute;
    bottom: 3px;
    z-index:-1;
    left: 0;
}

.hero h1 span:nth-of-type(2):after {
    background: #E8AEB7;
}

.hero h1 span:nth-of-type(3):after {
    background: #A9FFF7;
}

.hero a {
    font-size: 1em;
    color: #0E6BA8;
    text-decoration: none;
    display: inline-block;
    padding: .3em .8em;
    margin-top: 1.2em;
    background: #0E6BA8;
    transition: all 0.2s ease;
    color: white;
    border-radius: 4px;
}

.hero a:hover {
    background: #E8AEB7;
    color: #0E6BA8;
}

/*
.hero:before {
    content: '\A';
    position: absolute;
    width: 100%; 
    height:100%;
    top:0; 
    left:0;
    background:rgba(0,0,0,0.7);
    opacity: 1;
    display: block;
}
*/
@media only screen and (min-width: 1000px) {
    /*.hero {
        background: none;
    }

    .hero:before {
        background: none;
    }*/
    
    .hero h1 {
        text-align: left;
      /*  color: white;*/
    }

    .hero a {
        text-align: left;
    }
}