.hero {
    background: url("../images/thought-catalog-505eectW54k-unsplash.jpg") no-repeat center;
    background-size: cover;
    padding: 4em 0;
    position:relative;
    margin-bottom: 4em;
    text-align: center;
}

.hero h1 {
    font-weight: bold;
    font-size: 2em;
    line-height: 1.2em;
    padding: 0;
    max-width: 600px;
    width: 85%;
    margin: 0 auto;
    color: white;
    z-index: 1;
    position: relative;
}

.hero h1 span {
    position: relative;
}

.hero h1 span:after {
    content: "";
    background: red;
    display: inline-block;
    width: 85%;
    height: 9px;
    position: absolute;
    bottom: 3px;
    z-index:-1;
    left: 0;
}

.hero h1 span:nth-of-type(2):after {
    background: purple;
}

.hero h1 span:nth-of-type(3):after {
    background: green;
}

.hero:before {
    content: '\A';
    position: absolute;
    width: 100%; 
    height:100%;
    top:0; 
    left:0;
    background:rgba(0,0,0,0.7);
    opacity: 1;
    display: block;
}

@media only screen and (min-width: 1000px) {
    .hero {
        background: none;
    }

    .hero:before {
        background: none;
    }
    
    .hero h1 {
        text-align: left;
        color: black;
    }
}