.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
}

.contentWrapper {
    line-height: 1.6em;

    h1 {
        margin-top: 1.5em;
        margin-bottom: .3em;
        text-align: center;
        font-size: 9vw;
        line-height: 1.2em;
        color: #2d2d2d;
    }

    h2 {
        font-size: 1.6em;
        font-weight: 800;
        color: #2d2d2d;
        margin-bottom: 1.45rem;
        margin-top: 2.9rem;
    }

    p {
        line-height: 1.8em;
    }
}

.contentInner{
    max-width: 600px;
    width: 85%;
    margin: 0 auto;
}

p.date {
    font-size: .7rem;
    color:#555;
    text-align: center;
}

p.date a {
    text-decoration: underline;
    color: #555;
    transition: all .2s ease;
}

p.date a:hover {
    color: #e1909c;
}

img:hover {
    cursor: pointer;
}

.ingress {
    font-weight: 700;
}

blockquote {
    border-left: 3px solid #E8AEB7;
    p:first-of-type {
        
        font-family: 'Roboto';
        font-style: italic;
        font-size: 1.2em;
        padding-left: 10px;
        margin-bottom: 15px;
        color: #103750;
        line-height: 1.4!important;
    }
    i::before {
            content: "– ";
        }

        i {
            font-weight: 600;
            font-family:"Roboto Slab",serif;
            padding-left: 13px;
            color: #0d6ba8;
            font-size: .9em;
            display: block;
            line-height: 1.4em;
        }

}

ul {
    li {
        margin-bottom: calc(1rem / 2);
    }
}

.commentbox {
    margin-top: 20px;
}

@media only screen and (min-width: 500px) {
    .contentWrapper {
        h1 {
            font-size: 2.4em;
        }
    }
  }


@media only screen and (min-width: 1000px) {
    .contentWrapper {
        margin: 0;
        margin-left: 220px;
    }
  }

  @media only screen and (min-width: 1100px) {
    .contentWrapper {
        margin: 0;
        margin-left: 320px;
    }
}

@media only screen and (min-width: 1250px) {
    .contentInner{
        max-width: 600px;
        width: 85%;
        margin: 0 0 0 160px;
    }
}